
pandas
requests
urllib3

fastapi
uvicorn

streamlit
streamlit-option-menu

google-api-python-client

sqlalchemy
psycopg2-binary

matplotlib
seaborn

nltk
transformers
bertopic

scikit-learn
hdbscan
umap-learn

python-multipart
